<html>
<head></head>
<body>
<p>Identifier: {{ alert_group }}</p><br>
<p>The alert <b>{{ alert_id }}</b> with state <b>{{ alert_state }}</b> is in trigger state.</p><br>
<p>Reason: {{ alert_reason }}</p><br>
<p>Triggered at: {{ date }}
<p><br>
</body>
</html>